## Homework 2 Solutions

**Q2** Translate the E/R diagram from Q1 into a relational schema within Jupyter notebook. Make
note of which entities and/or relationships are being captured by each constructed table.

In [1]:
%load_ext sql 
%sql sqlite:///

u'Connected: None@'

In [2]:
%%sql 
/* Author entity set */
DROP TABLE IF EXISTS Author; 
CREATE TABLE Author 
( 
    a_name VARCHAR(100) PRIMARY KEY
)

Done.
Done.

[]

In [3]:
%%sql 
/* Book Entity set and Primary author relationship */
DROP TABLE IF EXISTS Book; 
CREATE TABLE Book 
( 
    b_title VARCHAR(200) PRIMARY KEY,
    primary_author VARCHAR(100) NOT NULL,
    FOREIGN KEY(primary_author) REFERENCES Author(a_name)
)

Done.
Done.

[]

In [4]:
%%sql 
/* Co-author relationship */
DROP TABLE IF EXISTS Coauthors; 
CREATE TABLE Coauthors
( 
    b_title VARCHAR(200),
    a_name VARCHAR(100),
    PRIMARY KEY(b_title, a_name),
    FOREIGN KEY(b_title) REFERENCES Book(b_title),
    FOREIGN KEY(a_name) REFERENCES Author(a_name)
)

Done.
Done.

[]

In [5]:
%%sql 
/* Subject entity set */
DROP TABLE IF EXISTS Subject; 
CREATE TABLE Subject 
( 
    s_name VARCHAR(50) PRIMARY KEY
)

Done.
Done.

[]

In [6]:
%%sql 
/* Book-Subject relationship */
DROP TABLE IF EXISTS Book_subject; 
CREATE TABLE Book_subject
(
    b_title VARCHAR(200),
    s_name VARCHAR(50),
    PRIMARY KEY(b_title, s_name),
    FOREIGN KEY(b_title) REFERENCES Book(b_title),
    FOREIGN KEY(s_name) REFERENCES Subject(s_name)    
)
/** NOTE: Cannot capture constraint that Book must have at least one subject. 
    One option to do this could be to add a primary_subject relationship between 
    Book and Subject (similar to Primary vs. Co-author). This note applies to all
    the "one or more" requirements, e.g., retailer focus or sales. */

Done.
Done.

[]

In [7]:
%%sql 
/* Edition weak entity set and Version relationship */
DROP TABLE IF EXISTS Edition; 
CREATE TABLE Edition 
( 
    b_title VARCHAR(200), 
    e_no INTEGER, 
    e_date DATETIME, 
    PRIMARY KEY(b_title, e_no),
    FOREIGN KEY(b_title) REFERENCES Book(b_title) 
)

Done.
Done.

[]

In [8]:
%%sql 
/* Retailer entity set */
DROP TABLE IF EXISTS Retailer; 
CREATE TABLE Retailer 
( 
    r_name VARCHAR(100) PRIMARY KEY
)

Done.
Done.

[]

In [9]:
%%sql 
/* Retailer focus_on Subject relationship */
DROP TABLE IF EXISTS Focus; 
CREATE TABLE Focus
(
    r_name VARCHAR(100),
    s_name VARCHAR(50),
    PRIMARY KEY(r_name, s_name),
    FOREIGN KEY(r_name) REFERENCES Retailer(r_name),
    FOREIGN KEY(s_name) REFERENCES Subject(s_name)    
)

Done.
Done.

[]

In [10]:
%%sql 
/* Retailer sells Edition relationship */
DROP TABLE IF EXISTS Sales; 
CREATE TABLE Sales
(
    r_name VARCHAR(100),
    b_title VARCHAR(200), 
    e_no INTEGER, 
    e_price FLOAT, 
    PRIMARY KEY(r_name, b_title, e_no),
    FOREIGN KEY(b_title, e_no) REFERENCES Edition(b_title, e_no) 
    FOREIGN KEY(r_name) REFERENCES Retailer(r_name)   
)

Done.
Done.

[]

**Q3** Translate the E/R diagram from slide 24 in the 3-ER-Solutions slide deck, representing our
simplified company database, into a relational schema within Jupyter notebook. Make note of which
entities and/or relationships are being captured by each constructed table.

In [11]:
%%sql 
/*  DEPARTMENT entity set */
DROP TABLE IF EXISTS DEPARTMENT; 
CREATE TABLE DEPARTMENT 
( 
    Name VARCHAR(80) PRIMARY KEY, 
    Number INTEGER 
)

Done.
Done.

[]

In [12]:
%%sql 
/* EMPLOYEE entity set, and Supervision, Works_For, Manages relationships. */
DROP TABLE IF EXISTS EMPLOYEE; 
CREATE TABLE EMPLOYEE 
( 
    SSN BIGINT PRIMARY KEY, 
    Bdate DATE,
    Name VARCHAR(80), 
    Address VARCHAR(200), 
    Salary FLOAT, 
    Sex CHAR(1),
    Supervisor_SSN BIGINT DEFAULT NULL,
    Department_Name VARCHAR(80) DEFAULT NULL,
    Manager_Of VARCHAR(80) DEFAULT NULL,
    Manager_start_date DATE DEFAULT NULL,
    FOREIGN KEY(Supervisor_SSN) REFERENCES EMPLOYEE(SSN),
    FOREIGN KEY(Manager_Of) REFERENCES DEPARTMENT(Name)
)

Done.
Done.

[]

In [13]:
%%sql 
/* PROJECT entity set and Controls relationship */
DROP TABLE IF EXISTS PROJECT; 
CREATE TABLE PROJECT 
( 
    Name VARCHAR(100), 
    Number INTEGER,
    Controlled_by VARCHAR(80),
    PRIMARY KEY(Name, Number),
    FOREIGN KEY(Controlled_by) REFERENCES DEPARTMENT(Name)
)

Done.
Done.

[]

In [14]:
%%sql 
/*  LOCATION weak entity set */
DROP TABLE IF EXISTS LOCATION; 
CREATE TABLE LOCATION 
(     
    Project_name VARCHAR(100), 
    Project_number INTEGER, 
    Location_name VARCHAR(80),  
    PRIMARY KEY(Project_name, Project_number, Location_name), 
    FOREIGN KEY (Project_name, Project_number) REFERENCES Project(Name, Number)
)

Done.
Done.

[]

In [15]:
%%sql 
/* DEPENDENT weak entity set */
DROP TABLE IF EXISTS DEPENDENT; 
CREATE TABLE DEPENDENT
( 
    Employee_ssn BIGINT, 
    Name VARCHAR(80), 
    Sex CHAR(1), 
    Birth_Date DATE, 
    Relationship VARCHAR(20), 
    PRIMARY KEY(Employee_ssn, Name) 
    FOREIGN KEY(Employee_ssn) REFERENCES EMPLOYEE(SSN) 
)

Done.
Done.

[]

In [16]:
%%sql 
/* WORKS_ON relationship */
DROP TABLE IF EXISTS WORKS_ON; 
CREATE TABLE WORKS_ON 
( 
    Employee_ssn BIGINT, 
    Project_name VARCHAR(100), 
    Project_number INTEGER, 
    Hours FLOAT, 
    PRIMARY KEY(Employee_ssn, Project_name, Project_number), 
    FOREIGN KEY(Employee_ssn) REFERENCES EMPLOYEE(SSN), 
    FOREIGN KEY(Project_name, Project_number) REFERENCES Project(Name, Number) 
)

Done.
Done.

[]