HOMEWORK 1 - Solutions
--------------------------------

Question 1: Create Database
--------------------------

In [1]:
%load_ext sql
%sql sqlite://
%sql DROP TABLE IF EXISTS Catalog;
%sql DROP TABLE IF EXISTS Suppliers;
%sql DROP TABLE IF EXISTS Parts;

Done.
Done.
Done.

[]

Question 1: Create Tables
--------------------------

In [2]:
%%sql drop table if exists Suppliers;
CREATE TABLE Suppliers
(
    sid integer PRIMARY KEY,
    sname   varchar(50),
    address varchar(100)
);

INSERT INTO Suppliers VALUES(1, 'Bay Area Distributing', '1 Washington Square');
INSERT INTO Suppliers VALUES(2, 'Ironworks Suppliers', '892 Concordia Blvd');
INSERT INTO Suppliers VALUES(3, 'Capitol Wholesale Nursery, Inc.', '234 Fareview Street');
INSERT INTO Suppliers VALUES(4, 'Parts and Stuff', "123 Count Ave");
INSERT INTO Suppliers VALUES(5, 'Yosemite Sham', '221 Packer Street');
INSERT INTO Suppliers VALUES(6, 'Candid Supply', '1108 Bonanza Ave');
INSERT INTO Suppliers VALUES(7, 'Supplier Extraordinaire, LLC', '897 Benedict Court');
INSERT INTO Suppliers VALUES(8, 'Any and All Parts, Inc.', '224 E Benevolence Street');
INSERT INTO Suppliers VALUES(9, 'Acme Widget Suppliers', '1600 Pennsylvania Ave');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [3]:
%%sql drop table if exists Parts;
CREATE TABLE Parts
(
    pid integer PRIMARY KEY,
    pname varchar(50),
    color varchar(10)
);

INSERT INTO Parts VALUES(1, 'carburator', 'red');
INSERT INTO Parts VALUES(2, 'solenoid', 'blue');
INSERT INTO Parts VALUES(3, 'nut', 'green');
INSERT INTO Parts VALUES(4, 'bolt', 'green');
INSERT INTO Parts VALUES(5, 'screw', 'red');
INSERT INTO Parts VALUES(6, 'cog', 'red');
INSERT INTO Parts VALUES(7, 'cog', 'blue');
INSERT INTO Parts VALUES(8, 'bolt', 'blue');
INSERT INTO Parts VALUES(9, 'nut', 'red');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [4]:
%%sql drop table if exists Catalog;
CREATE TABLE Catalog
(
    sid  integer,
    pid  integer,
    cost real,
    PRIMARY KEY(sid, pid),
    FOREIGN KEY(sid) REFERENCES Suppliers(sid),
    FOREIGN KEY(pid) REFERENCES Parts(pid)
);

INSERT INTO Catalog VALUES(1, 1, 1.5);
INSERT INTO Catalog VALUES(1, 2, 2.75);
INSERT INTO Catalog VALUES(1, 3, 2.25);
INSERT INTO Catalog VALUES(1, 4, 4);
INSERT INTO Catalog VALUES(1, 5, 4.5);
INSERT INTO Catalog VALUES(1, 6, 2.75);
INSERT INTO Catalog VALUES(1, 7, 5.75);
INSERT INTO Catalog VALUES(1, 8, 5);
INSERT INTO Catalog VALUES(2, 1, 1.5);
INSERT INTO Catalog VALUES(2, 2, 2.9);
INSERT INTO Catalog VALUES(2, 3, 4.9);
INSERT INTO Catalog VALUES(2, 4, 2.7);
INSERT INTO Catalog VALUES(2, 5, 2.25);
INSERT INTO Catalog VALUES(3, 1, 1.25);
INSERT INTO Catalog VALUES(3, 2, 22);
INSERT INTO Catalog VALUES(3, 3, 13);
INSERT INTO Catalog VALUES(3, 4, 41);
INSERT INTO Catalog VALUES(3, 5, 5.4);
INSERT INTO Catalog VALUES(3, 6, 6.2);
INSERT INTO Catalog VALUES(3, 7, 16.7);
INSERT INTO Catalog VALUES(4, 1, 11);
INSERT INTO Catalog VALUES(4, 2, 12);
INSERT INTO Catalog VALUES(4, 3, 3.2);
INSERT INTO Catalog VALUES(4, 4, 4.5);
INSERT INTO Catalog VALUES(4, 6, 61);
INSERT INTO Catalog VALUES(5, 1, 1.5);
INSERT INTO Catalog VALUES(5, 2, 24);
INSERT INTO Catalog VALUES(5, 3, 3.75);
INSERT INTO Catalog VALUES(5, 4, 2.4);
INSERT INTO Catalog VALUES(6, 5, 5.5);
INSERT INTO Catalog VALUES(6, 6, 5.6);
INSERT INTO Catalog VALUES(6, 7, 17);
INSERT INTO Catalog VALUES(6, 8, 5);
INSERT INTO Catalog VALUES(7, 5, 2.5);
INSERT INTO Catalog VALUES(7, 6, 26);
INSERT INTO Catalog VALUES(7, 7, 7.25);
INSERT INTO Catalog VALUES(8, 3, 4.45);
INSERT INTO Catalog VALUES(8, 4, 7.15);
INSERT INTO Catalog VALUES(9, 1, 31.2);
INSERT INTO Catalog VALUES(9, 2, 2.95);
INSERT INTO Catalog VALUES(9, 3, 2.15);
INSERT INTO Catalog VALUES(9, 4, 4.3);
INSERT INTO Catalog VALUES(9, 5, 4.15);
INSERT INTO Catalog VALUES(9, 6, 2.45);
INSERT INTO Catalog VALUES(9, 7, 5.25);
INSERT INTO Catalog VALUES(9, 8, 5.2);
INSERT INTO Catalog VALUES(9, 9, 20);

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Question 2: Describe the SQL Queries
--------------------------

**1.	Find the pnames of parts for which there is some supplier.**

In [5]:
%%sql
SELECT DISTINCT p.pname
FROM Parts p, Catalog c
WHERE p.pid = c.pid

Done.

[(u'carburator',),
 (u'solenoid',),
 (u'nut',),
 (u'bolt',),
 (u'screw',),
 (u'cog',)]

** 2. Find the snames of suppliers who supply every part. **

In [6]:
%%sql 
SELECT s.sname
FROM Suppliers s
WHERE NOT EXISTS ( SELECT p.pid
                   FROM Parts p
                   EXCEPT
                   SELECT c.pid
                   FROM Catalog c
                   WHERE c.sid = s.sid 
                 )

Done.

[(u'Acme Widget Suppliers',)]

**3.	Find the snames of suppliers who supply every red part.**

In [7]:
%%sql
SELECT s.sname
FROM Suppliers s
WHERE NOT EXISTS ( SELECT p.pid
                   FROM Parts p
                   WHERE p.color = 'red'
                   EXCEPT
                   SELECT c.pid
                   FROM Catalog c, Parts p
                   WHERE c.sid = s.sid AND c.pid = p.pid
                                   AND p.color = 'red' )

Done.

[(u'Acme Widget Suppliers',)]

**4.	Find the pnames of parts supplied by Acme Widget Suppliers and no one else. **

In [8]:
%%sql 
SELECT p.pname
FROM Parts p, Catalog c, Suppliers s
WHERE p.pid = c.pid AND C.sid = S.sid
               AND s.sname = 'Acme Widget Suppliers'
               AND NOT EXISTS ( SELECT *
                               FROM Catalog c1, Suppliers s1
                               WHERE p.pid = c1.pid AND c1.sid = s1.sid
                               AND s1.sname <> 'Acme Widget Suppliers' )

Done.

[(u'nut',)]

** 5.	Find the sids of suppliers who charge more for some part than the average cost of that part (averaged over all the suppliers who supply that part).**

In [9]:
%%sql
SELECT DISTINCT c.sid
FROM Catalog c
WHERE c.cost > ( SELECT AVG (c1.cost)
                   FROM Catalog c1
                   WHERE c1.pid = c.pid )

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (9,)]

**6.	For each part, find the sname of the supplier who charges the most for that part. **

In [10]:
%%sql
SELECT p.pid, s.sname
FROM Parts p, Suppliers s, Catalog c
WHERE C.pid = P.pid
AND C.sid = S.sid
AND C.cost = ( SELECT MAX (c1.cost)
                  FROM Catalog c1
                  WHERE c1.pid = p.pid )

Done.

[(3, u'Capitol Wholesale Nursery, Inc.'),
 (4, u'Capitol Wholesale Nursery, Inc.'),
 (6, u'Parts and Stuff'),
 (2, u'Yosemite Sham'),
 (5, u'Candid Supply'),
 (7, u'Candid Supply'),
 (1, u'Acme Widget Suppliers'),
 (8, u'Acme Widget Suppliers'),
 (9, u'Acme Widget Suppliers')]

**7.	Find the sids of suppliers who supply only red parts. **

In [11]:
%%sql
SELECT DISTINCT c.sid
FROM Catalog c
WHERE NOT EXISTS (SELECT * FROM Parts p
                  WHERE p.pid = c.pid AND p.color <> 'red')

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (9,)]

**8.	Find the sids of suppliers who supply a red part and a green part. **

In [12]:
%%sql
SELECT DISTINCT c.sid 
FROM Catalog c, Parts p
WHERE c.pid = p.pid AND p.color = 'red'
INTERSECT
SELECT DISTINCT c1.sid
FROM Catalog c1, parts p1
WHERE C1.pid = p1.pid AND p1.color = 'green'

Done.

[(1,), (2,), (3,), (4,), (5,), (9,)]

**9.	Find the sids of suppliers who supply a red part or a green part. **

In [13]:
%%sql
SELECT DISTINCT c.sid
FROM Catalog c, Parts p
WHERE c.pid = p.pid AND p.color = 'red'
UNION
SELECT DISTINCT c1.sid
FROM Catalog c1, parts p1
WHERE C1.pid = p1.pid AND p1.color = 'green'

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,)]

**10.	For every supplier that only supplies green parts, print the name of the supplier and the total number of parts that she supplies. **

In [14]:
%%sql
/** Original query does not work in SQLite.
SELECT s.sname, COUNT(*) as PartCount 
FROM Suppliers s, Parts p, Catalog c 
WHERE p.pid = c.pid AND c.sid = s.sid
GROUP BY s.sname, s.sid
HAVING EVERY ( p.color = 'green' ) 

Rewrite query as:
**/
SELECT s.sname, COUNT(*) as PartCount
FROM Suppliers s, Parts p, Catalog c 
WHERE p.pid = c.pid AND c.sid = s.sid 
AND p.color = 'green' 
AND s.sid NOT IN
(SELECT s2.sid
 FROM Suppliers s2, Parts p2, Catalog c2 
 WHERE p2.pid = c2.pid AND c2.sid = s2.sid
 AND p2.color <> 'green' )
GROUP BY s.sname, s.sid

Done.

[(u'Any and All Parts, Inc.', 2)]

**11.	For every supplier that supplies a green part and a red part, print the name and price of the most expensive part that she supplies. **

In [15]:
%%sql
/** Original query does not work in SQLite.
SELECT s.sname, MAX(c.cost) as MaxCost
FROM Suppliers s, Parts p, Catalog c
WHERE p.pid = c.pid AND c.sid = s.sid
GROUP BY s.sname, s.sid
HAVING ANY ( p.color = 'green' ) AND ANY ( p.color = 'red' )

Rewrite query as:
**/

SELECT s.sname, MAX(c.cost) as MaxCost
FROM Suppliers s, Parts p, Catalog c
WHERE p.pid = c.pid AND c.sid = s.sid
AND s.sid IN 
(SELECT DISTINCT c2.sid
 FROM Parts p2, Parts p3, Catalog c2, Catalog c3
 WHERE p2.pid = c2.pid AND c2.sid = c3.sid AND p2.color = 'red'
 AND p3.pid = c3.pid AND p3.color = 'green'
)
GROUP BY s.sname, s.sid

Done.

[(u'Bay Area Distributing', 5.75),
 (u'Ironworks Suppliers', 4.9),
 (u'Capitol Wholesale Nursery, Inc.', 41.0),
 (u'Parts and Stuff', 61.0),
 (u'Yosemite Sham', 24.0),
 (u'Acme Widget Suppliers', 31.2)]

Question 3: Write SQL Queries
--------------------------

** 1) Find the names of suppliers who supply some red part. **

In [16]:
%%sql
SELECT DISTINCT s.sname
FROM Suppliers s, Parts p, Catalog c
WHERE p.color = 'red' AND c.sid = s.sid AND c.pid = p.pid

Done.

[(u'Bay Area Distributing',),
 (u'Ironworks Suppliers',),
 (u'Capitol Wholesale Nursery, Inc.',),
 (u'Parts and Stuff',),
 (u'Yosemite Sham',),
 (u'Candid Supply',),
 (u'Supplier Extraordinaire, LLC',),
 (u'Acme Widget Suppliers',)]

** 2) Find the sids of suppliers who supply some red or green part. **

In [17]:
%%sql
SELECT DISTINCT c.sid
FROM Parts p, Catalog c
WHERE p.pid = c.pid AND (p.color = 'red' OR p.color = 'green')

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,)]

** 3) Find the sids of suppliers who supply some red part or are at 221 Packer Street. **

In [18]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s
WHERE s.address = '221 Packer Street'
OR s.sid IN (
    SELECT c.sid
    FROM Parts p, Catalog c
    WHERE p.color = 'red' AND p.pid = c.pid
)

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (9,)]

** 4) Find the sids of suppliers who supply some red part and some green part. **

In [19]:
%%sql
SELECT DISTINCT c.sid
FROM Parts p, Parts p2, Catalog c, Catalog c2
WHERE p.pid = c.pid AND c.sid = c2.sid AND p.color = 'red'
AND p2.pid = c2.pid AND p2.color = 'green'

Done.

[(1,), (2,), (3,), (4,), (5,), (9,)]

** 5) Find the sids of suppliers who supply every part. **

In [20]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s
WHERE NOT EXISTS (
    SELECT p.pid
    FROM Parts p 
    EXCEPT 
    SELECT c.pid
    FROM Catalog c
    WHERE c.sid = s.sid
)

Done.

[(9,)]

** 6) Find the sids of suppliers who supply every red part. **

In [21]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s
WHERE NOT EXISTS (
    SELECT p.pid
    FROM Parts p
    WHERE p.color = 'red'
    EXCEPT
    SELECT c.pid
    FROM Catalog c, Parts p2
    WHERE c.sid = s.sid
    AND c.pid = p2.pid
    AND p2.color = 'red'
)

Done.

[(9,)]

** 7) Find the sids of suppliers who supply every red or green part. **

In [22]:
%%sql
SELECT DISTINCT c.sid
FROM Catalog c
WHERE NOT EXISTS (
    SELECT p.pid
    FROM Parts p
    WHERE (p.color = 'red' OR p.color = 'green')
    AND ( NOT EXISTS (
            SELECT c2.sid
            FROM Catalog c2
            WHERE c2.sid = c.sid
            AND c2.pid = p.pid
    )))

Done.

[(9,)]

** 8) Find the sids of suppliers who supply every red part or supply every green part. **

In [23]:
%%sql
SELECT DISTINCT s.sid
FROM Suppliers s
WHERE NOT EXISTS (
        SELECT p.pid
        FROM Parts p
        WHERE p.color = 'red'
    EXCEPT
        SELECT c.pid
        FROM Catalog c, Parts p2
        WHERE c.sid = s.sid
        AND c.pid = p2.pid
        AND p2.color = 'red'
)
UNION
SELECT DISTINCT s2.sid
FROM Suppliers s2
WHERE NOT EXISTS (
        SELECT p3.pid
        FROM Parts p3
        WHERE p3.color = 'green'
    EXCEPT
        SELECT c2.pid
        FROM Catalog c2, Parts p4
        WHERE c2.sid = s2.sid
        AND c2.pid = p4.pid
        AND p4.color = 'green'
)

Done.

[(1,), (2,), (3,), (4,), (5,), (8,), (9,)]

** 9) Find pairs of sids such that the supplier with the first sid charges more for some part than the supplier with the second sid. **

In [24]:
%%sql
SELECT c.sid AS sid1, c2.sid AS sid2
FROM Catalog c, Catalog c2
WHERE c.pid = c2.pid AND c.sid <> c2.sid
AND c.cost > c2.cost

Done.

[(1, 3),
 (1, 9),
 (1, 2),
 (1, 5),
 (1, 2),
 (1, 7),
 (1, 9),
 (1, 9),
 (1, 9),
 (2, 3),
 (2, 1),
 (2, 1),
 (2, 4),
 (2, 5),
 (2, 8),
 (2, 9),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 9),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5),
 (3, 8),
 (3, 9),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5),
 (3, 8),
 (3, 9),
 (3, 1),
 (3, 2),
 (3, 7),
 (3, 9),
 (3, 1),
 (3, 6),
 (3, 9),
 (3, 1),
 (3, 7),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 5),
 (4, 1),
 (4, 2),
 (4, 9),
 (4, 1),
 (4, 9),
 (4, 1),
 (4, 2),
 (4, 5),
 (4, 9),
 (4, 1),
 (4, 3),
 (4, 6),
 (4, 7),
 (4, 9),
 (5, 3),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 9),
 (5, 1),
 (5, 4),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 7),
 (6, 9),
 (6, 1),
 (6, 9),
 (6, 1),
 (6, 3),
 (6, 7),
 (6, 9),
 (7, 2),
 (7, 1),
 (7, 3),
 (7, 6),
 (7, 9),
 (7, 1),
 (7, 9),
 (8, 1),
 (8, 4),
 (8, 5),
 (8, 9),
 (8, 1),
 (8, 2),
 (8, 4),
 (8, 5),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 1),
 (9, 2),
 (9, 1),
 (9, 2),
 (9, 5),
 (9, 2),
 (9, 7),
 (9, 1),
 (9, 6)]

** 10) Find the pids of parts supplied by at least two different suppliers. **

In [25]:
%%sql
SELECT DISTINCT c.pid
FROM Catalog c, Catalog c2
WHERE c.pid = c2.pid AND c.sid <> c2.sid

Done.

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,)]

** 11) Find the pids of the most expensive parts supplied by suppliers named Yosemite Sham. **

In [26]:
%%sql
SELECT c.pid
FROM Catalog c, Suppliers s
WHERE c.sid = s.sid
AND s.sname = 'Yosemite Sham'
AND c.cost >= (SELECT MAX(c2.cost)
    FROM Catalog c2, Suppliers s2
    WHERE c2.sid = s2.sid
    AND s2.sname = 'Yosemite Sham'
    GROUP BY c2.sid
)

Done.

[(2,)]